body{
    background-color: rgb(255, 233, 233);
}

.section{
    background-color: rgb(255, 233, 233);
}
#fifth ul{
    text-align: left;
    padding: 5px;
}
  
.sim-slider {
    background-color: rgb(255, 233, 233);
}
