body{
    background-color: rgb(213, 255, 248);
}

.section{
    background-color: rgb(213, 255, 248);
}

#forth ul{
    text-align: left;
    padding: 5px;
}

.sim-slider {
    background-color: rgb(213, 255, 248);
}
