body{
    background-color: rgb(233, 237, 255);
}

.section{
    background-color: rgb(233, 237, 255);
}

#forth ul{
    text-align: left;
    padding: 5px;
}
  
.sim-slider {
    background-color: rgb(233, 237, 255);
}
  















